body {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}
h1 {
    text-align: center;
    margin: 1vw 0 1vw 0;
    font-size: 2vw;
}
button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    padding: .85em 1em;
    margin: 0px;
    font-size: 1vw;
    background-color: rgb(33, 153, 232);
    color: rgb(254, 254, 254);
}
button.expanded {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
/**/
.container {
    width: 32vw;
    margin: 0px auto;
    display: flex;
    border: 1px solid rgba(0,0,0,0.1);
}
.game_field {
    width: 20vw;
    height: 40vw;
    margin: 1vw;
    margin-top: 0px;
    float: left;
}
.col {
    box-sizing: border-box;
    float: left;
    width: 2vw;
    height: 2vw;
    border-right: 1px solid rgb(128, 128, 128);
    border-bottom: 1px solid rgb(128, 128, 128);
}
.col:nth-child(1) {
    border-left: 1px solid rgb(128, 128, 128);
}
.row:nth-child(1) .col {
    border-top: 1px solid rgb(128, 128, 128);
}
.info_field {
    width: 10vw;
    float: left;
}
.next_figure_field {
    width: 8vw;
    height: 8vw;
    border: 1px solid #fff;
    margin: 1vw;
    margin-top: 0px;
}
.info {
    margin: 1vw;
    font-weight: bold;
    font-size: 1.5vw;
    padding-left: 0px;
    text-align: center;
}
.value_info {
    font-weight: bold;
    font-size: 1.5vw;
}
.label_info {
    font-weight: bold;
    font-size: 1vw;
}
.colWithFigure {
    background: #000;
}

/**/
.reveal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1005;
    background-color: rgba(10, 10, 10, 0.45);
    overflow-y: scroll;
}

.close-button {
    position: absolute;
    color: rgb(138, 138, 138);
    right: 0px;
    top: -20px;
    font-size: 2em;
    line-height: 1;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    outline: none;
    cursor: pointer;
}

.close-button:hover {
    color: #000;
}

.reveal {
    z-index: 1006;
    border: 1px solid rgb(202, 202, 202);
    background-color: rgb(254, 254, 254);
    border-radius: 0;
    position: relative;
    top: 100px;
    left: 0.5vw;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    width: 30vw;
}

.reveal .expanded {
    width: 50%;
    float: left;
}

.expanded:hover {
    background-color: rgb(23, 133, 212);
}